<nav>
    <ul>
      <li><a routerLink="/wallet"  >Wallet Component</a></li>
      <li><a routerLink="/quote" >Quote Component</a></li>
    </ul>
  </nav>
  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>
<div>
    <p> Click me to visit Wallet:</p>
    <button (click)="gotoWallet()">View Wallet</button>
</div>
 

<span>{{ title }} app is running!</span>

<button type="button" (click)="clicked()">Click me!</button>
Light : <span>{{isOn}}</span>

// Parent component

<p>parent works!</p>
<p id="p1">{{title}}</p>
<app-child [message]="title" (changeEvent)="changeTitle($event)"></app-child>